NEXT_PUBLIC_THIRDWEB_CLIENT_ID=your_thirdweb_client_id
NEXT_PUBLIC_WEB3_NETWORK=hardhat
NEXT_PUBLIC_CROWDTUBE_CAMPAIGNS_ADDRESS=your_contract_address_for_the_selected_network
NEXT_PUBLIC_API_URL=http://localhost:3333
