NODE_ENV=dev
HOST=0.0.0.0
PORT=3333
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=crowdtube
FRONTEND_ORIGIN=http://localhost:3000
AUTH_DOMAIN=localhost:3000
AUTH_URI=http://localhost:3000
AUTH_CHAIN_ID=31337
AUTH_NONCE_TTL_SECONDS=300
